{% extends "CustoMoodAppBundle::Main/main.layout.html.twig" %}
{% set title = "Home" %}
{% block title title %}

{% block maincontent %}
    <h1>{{ title }}</h1>
    <div class="table-wrapper home">

    </div>
{% endblock %}